<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Monitoring.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>armv7</string>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
				<key>dateExpires</key>
				<string>2022/6/23</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>AFNetworking.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>IQKeyboardManager.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>LYEmptyView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MBProgressHUD.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJExtension.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>MJRefresh.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Masonry.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>Popover_OC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>QMUIKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>ReactiveObjC.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDAutoLayout.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDCycleScrollView.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>SDWebImage.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePickerController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>TZImagePreviewController.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WHC_AutoLayoutKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>WHC_ModelSqliteKit.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>armv7</string>
						<string>arm64</string>
					</array>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>C20EF9A55111EDD76085487E8047F8C1834E2C92</string>
						<key>dateExpires</key>
						<string>2022/6/23</string>
						<key>type</key>
						<string>iOS Distribution</string>
					</dict>
					<key>name</key>
					<string>YYCache.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>M48QSEF9L2</string>
						<key>name</key>
						<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>M48QSEF9L2.ZDXF.Monitoring.com</string>
				<key>aps-environment</key>
				<string>production</string>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>M48QSEF9L2</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>Monitoring.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d4c99335-e425-4535-8c8f-4374b3724f53</string>
				<key>name</key>
				<string>ZDXF</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>M48QSEF9L2</string>
				<key>name</key>
				<string>Sichuan Hope Education Industry Group Co., Ltd. (Enterprise)</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
